@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FuturaPTBook";
  src: url(../fonts/FuturaPTBook.ttf);
  font-display: swap;
}

@font-face {
  font-family: "TrajanProRegular";
  src: url(../fonts/TrajanProRegular.ttf);
  font-display: swap;
}


* {
  font-family: "FuturaPTBook";
}

ul > li > a {
  font-family: "TrajanProRegular";
}

.monstyle {
  font-family: "TrajanProRegular";
}

.services {
  font-family: "TrajanProRegular";
}

h1 {
  font-family: "TrajanProRegular";
}

