@tailwind base;
@tailwind components;
@tailwind utilities;

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@font-face {
    font-family: 'Dancing Script';
    src: url('./fonts/Agbalumo-Regular.ttf');
    font-style: normal;
  }


  * {
    
    font-family: "Dancing Script";
    font-weight: 400;
  }