@tailwind base;
@tailwind components;
@tailwind utilities;

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@font-face {
    font-family: 'Analogist';
    src: url('./fonts/Analogist.ttf');
    font-style: normal;
  }
@font-face {
    font-family: 'Champagne & Limousines';
    src: url('./fonts/Champagne & Limousines.ttf');
    font-style: normal;
  }


  h2{
    
    font-family: "Analogist";
    font-weight: 400;
  }

  * {
    font-family: "Champagne & Limousines";
    font-weight: 400;
  }